
%div#details
  = form_for(@restaurant, html: {method: :post}) do |f|
    .field
      = f.label :restaurant_name
      = f.text_field :restaurant_name
    .field
      = f.label :restaurant_address
      = f.text_field :restaurant_address
    .field
      = f.label :zip_code
      = f.text_field :zip_code
    %f.select{:radius_id, @radius_options}
    .field
      = f.label :public_phone_number
      = f.text_field :public_phone_number
    .field
      = f.label :owner_name
      = f.text_field :owner_name
    .field
      = f.label :owner_address
      = f.text_field :owner_address
    .field
      = f.label :private_phone_number
      = f.text_field :private_phone_number
    .field
      = f.label :email_address
      = f.text_field :email_address
    .field
      = f.label :restaurant_description
      = f.text_area :restaurant_description
    %f.select{:cuisine_id, @cuisine_options}
    .actions
      = f.submit 'Save'
