= form_for ([@menu, @dish]) do |f|
  .field
    = f.label :category, 'Select the category for your dish'
    = f.select(:category, options_for_select(Dish::CATEGORIES),
                                              include_blank: 'Select category')
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :allergy_info
    = f.text_area :allergy_info
  .field
    = f.label :ingredients
    = f.text_area :ingredients
  .field
    = f.label :calories
    = f.number_field :calories
  .actions
    = f.submit 'Create'


