= form_for(@restaurant) do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :zip_code
    = f.text_field :zip_code
  .field
    = f.label :delivery_radius
    = f.select(:delivery_radius, options_for_select([['5km', 1], ['10km', 2],['20km', 3],['30km', 4]]), include_blank: 'Select radius')
  .field
    = f.label :phone_number
    = f.text_field :phone_number
  .field
    = f.label :email_address
    = f.text_field :email_address
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :cuisine, 'Select your cuisine'
    = f.select(:cuisine, options_for_select([['Italian', 1],['Greek', 2],['Chinese', 3],['Sushi', 4]]), include_blank: 'Select cuisine')
  .actions
    = f.submit 'Save'
