%div#details
  = form_for(@restaurant, url: restaurants_path, html: {method: :post}) do |f|
    .field
      = f.label :restaurant_name
      = f.text_field :restaurant_name
    .field
      = f.label :restaurant_address
      = f.text_field :restaurant_address
    .field
      = f.label :zip_code
      = f.text_field :zip_code
    .field
      = f.label :delivery_radius
      = f.select(:delivery_radius, options_for_select([['5km', 1], ['10km', 2],['20km', 3],['30km', 4]]), include_blank: 'Select radius')
    .field
      = f.label :public_phone_number
      = f.text_field :public_phone_number
    .field
      = f.label :owner_name
      = f.text_field :owner_name
    .field
      = f.label :owner_address
      = f.text_field :owner_address
    .field
      = f.label :private_phone_number
      = f.text_field :private_phone_number
    .field
      = f.label :email_address
      = f.text_field :email_address
    .field
      = f.label :restaurant_description
      = f.text_area :restaurant_description
    .field
      = f.label :select_your_cuisine
      = f.select(:select_your_cuisine, options_for_select([['Italian', 1],['Greek', 2],['Chinese', 3],['Sushi', 4]]), include_blank: 'Select cuisine')
    .actions
      = f.submit 'Save'
