.top-bar
  .top-bar-left
    %ul.menu
      %li.menu-text
        = link_to 'Slow Food Online', root_path
  .top-bar-right
    %ul.menu
      %li
        = link_to 'Home', root_path
      - if current_user
        %li
          %p Hello, #{current_user.email}
        %li
          = link_to 'Logout', destroy_user_session_path, method: :delete
      - elsif current_user && current_user.restaurants.any?
        %li
          %p Hello, #{current_user.email}
        %li
          = link_to 'Logout', destroy_user_session_path, method: :delete
        %li
          = link_to 'Dashboard', dashboard_path(current_user.restaurants.first)
      - else
        %li
          = link_to 'Login', new_user_session_path
        %li
          = link_to 'Sign Up', new_user_registration_path
