!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', http: {equiv: 'Content-Type'}}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = stylesheet_link_tag 'foundation.css'
    %title Slow Food Online
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'


  %body
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = render 'layouts/partials/header'
    - if flash.any?
      - flash.each do |key, value|
        = value
    .wrapper.row
      = yield
    = render 'layouts/partials/footer'
